textarea {
	width: 400px;
	height: 50px;
}

input {
	width: 300px;
}

button {
	padding: 4px;
}


.margin--bottom {
	margin-bottom: 20px;
}

.text--bold {
	font-weight: bold;
}

.error_message {
	color: red;
}

.success_message {
	color: green;
}

#key_form_button {
	margin: 10px;
}

a:focus, button:focus {
	outline: none;
}

.display--none {
	display: none;
}